* {
  box-sizing: border-box;
}

body {
  font-family: 'Cutive Mono', monospace;
  background-image: url('https://www.azom.com/images/Article_Images/ImageForArticle_16546_1602860295050690.png');
  margin: 0 auto;
  text-align: center;
  
}

header, footer {
  text-align: center;
  margin: 0 auto;
}

main {
  /* position: relative; */
  width: 600px;
  min-width: 600px;
  min-height: 600px;
  /* background-color: lightgrey; */
  margin: 0 auto;
  font-size: 8px;
  display: none;
}

#gameHeader {
  height: 50px;
  display: flex;
  flex-direction: stretch;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid black;
  background-color: #cccccc;
}

#gameHeader > button {
  height: 40px;
  width: 60px;
  margin: 0 5px;
}

#gameHeader > p {
  font-size: 2em;
  width: 30%;
}

#gameWindow {
  min-height: 600px;
  display: grid;
  border: 4px solid black;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
  /* gap: 5px; */
}

#gameWindow > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minesweeperGrid {
  background-color: #cccccc;
  border: 1px solid #d9d9d9;
  font-size: 2em;
  font-weight: bold;
}

.minesweeperGrid:hover {
  border: 1px solid lightgoldenrodyellow;
}

footer {
  margin-top: 10px;
}

h2, h3 {
  text-align: center;
}

#gameSetup {
  height: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#gameSetup > div {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}


input {
  width: 60%;
}

p {
  width: 10%;
}

.inputDesc {
  text-align: right;
  width: 30%;
}

#startGame {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


